.place__image {
    grid-area: image;
    margin: 0px;
    width: 100%;
}

.place__image img {
    max-width: 100%;
}

@media screen and (min-width: 320px) {
    .place__image {
        margin: 32px 0 0 0;
    }
}

@media screen and (min-width: 768px) {
    .place__image {
        margin: 0px;
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1280px) {}