.photo-grid__item {
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.photo-grid__item img {
    max-width: 100%;
}