.cover {
    margin: 92px 48px 0 48px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

.cover>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.cover__background:hover {
    opacity: .8;
}

@media screen and (min-width: 320px) {
    .cover {
        margin: 66px 0 0 0;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        margin: 92px 48px 0 48px;
    }
}