.cover {
    margin: 92px auto 0 auto;
    max-width: 1184px;
    box-sizing: border-box;
}

@media screen and (min-width: 320px) {
    .cover {
        margin-top: 66px;
    }
}

@media screen and (min-width: 500px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        margin-top: 92px;
    }
}