.footer__item-link {
	margin: 0 18px 0 0;
	padding: 0;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}
.footer__item-link:last-child {
	margin-right: 0;
}

@media screen and (min-width: 320px) {
	.footer__item-link {
		margin-top: 32px;
	}
	.footer__item-link:hover {
		-webkit-transform: translateX(25px) scale(1.1);
		-ms-transform: translateX(25px) scale(1.1);
		transform: translateX(25px) scale(1.1);
	}
}

@media screen and (min-width: 768px) {
	.footer__item-link {
		margin: 0 18px 0 0;
	}
	.footer__item-link:hover {
		-webkit-transform: translateY(-5px) scale(1.1);
		-ms-transform: translateY(-5px) scale(1.1);
		transform: translateY(-5px) scale(1.1);
	}
}
