.cover__background {
    margin: 0 auto;
    opacity: .3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    z-index: 1;
    transition-duration: 1s;
}

.cover__background img {
    max-width: 100%;
}

.cover__background:hover {
    opacity: .8;
}