.cover__title {
    font-weight: 900;
    margin: 0 auto;
    width: 560px;
    font-size: 74px;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    border-bottom: none;
    cursor: pointer;
}

@media screen and (min-width: 320px) {
    .cover__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (min-width: 768px) {
    .cover__title {
        width: 560px;
        font-size: 74px;
        line-height: 76px;
    }
}

