.footer {
    margin: 92px 48px 0 48px;
    padding: 0 0 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (min-width: 320px) {
    .footer {
        margin: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        margin: 88px 24px 0 24px;
        padding: 0 0 24px 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        margin: 92px 48px 0 48px;
    }
}